.title-8 {
	color: violet;
	text-align: center;
	margin-top: 0%;
}

.all-budget {
	background-color: white;
	box-shadow: 8px 4px 8px gray;
	border-radius: 25px;
	padding: 5%;
	display: block;

	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;

	
}

.all-products {
	display: flex;

	width: 50%;
	flex: left;

}

.info-date-price {
	color: gray;
	font-weight: 700;
	margin-top: 10%;

}